body {
  background-color: rgb(171, 212, 238);
  /* border: 3px solid midnightblue; */
}

.container {
  width: 900px;
  margin: 0 auto;
  border: 3px solid midnightblue;
  background-color: moccasin;
}

h1 {
  color: midnightblue;
  padding-left: 20px;
  font-size: 50px;
  text-align: center;
}
label {
  margin-left: 20px;
  font-size: 20px;
  color: midnightblue;
}

.insert {
  width: 400px;
  height: 30px;
  border: 3px solid midnightblue;
  padding-left: 10px;
  /* margin-left: 20px; */
}

.submit {
  height: 38px;
  width: 100px;
  background-color: midnightblue;
  color: white;
}

section {
  display: flex;
}
div {
  flex: 1;
}

ul {
  list-style: none;
}

/* .todo {
  border-right: 1px solid midnightblue;

}
.done {
  border-left: 1px solid midnightblue;
} */

/* section div {
  border-left: 1px solid midnightblue;
} */

h2 {
  font-size: 40px;
  color: midnightblue;
  padding-left: 20px;
}

ul li {
  font-size: 30px;
  color: midnightblue;
  cursor: pointer;
}

.done li {
  text-decoration: line-through;
}

p {
  width: 900px;
  margin: 0 auto;
}
